:root {
  font-family: serif;
  font-size: 15px;
}

@media screen and (min-width: 1500px) {
  :root {
    font-size: 1vw;
  }
}

.font-dotted {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "ROND" 0;
}
